*{
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.card img {
  height: 300px !important;
}
.cart {
  top: 5%;
  left: -100%;
  z-index: 100;
}
.active{
  top: 5%;
  left: 1%;
}
.buying
{
  overflow: auto;
  width: 300px;
  height: 100%;
  position: fixed;
  top: 0%;
  left: -100%;
  z-index: 10000;
  background-color: rgb(0 0 0 / 98%);
  transition: 0.8s;
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  -ms-transition: 0.8s;
  -o-transition: 0.8s;
}
.buying::-webkit-scrollbar{
  display: inline;
}
.close{
  position: fixed;
  top: 2%;
  cursor: pointer;
}
.acti{
  left: 0%;
}
.buying .number{
  width: 50px;
  outline: none;
}
.buying .myTotal {
  width: fit-content;
  padding: 6px 10px;
  margin: 0px auto;
}
.date,.timeInp {
  width: 250px;
  outline: none;
  margin-top: 5px;
  padding: 2px 6px;
}
.just {
  text-align: justify;
}
.card .imgs {
  background-size: cover;
  height: 300px;
}

